body{
     font-family: "Roboto",sans-serif;
    
     font-weight: 500;
     color: #2E2F42;
     
    }

.header {

}
.header-navigation {
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

}
.header-span{
    color: #4D5AE5;
}
.header-list {
}
.header-item {
}
.header-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.header-adress {
   
}
.header-adress-list {
   

}
.header-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
